Infernales.xcworkspace/contents.xcworkspacedata
Infernales.xcworkspace/xcshareddata/Infernales.xccheckout
Infernales.xcworkspace/xcuserdata/gwehner.xcuserdatad/UserInterfaceState.xcuserstate
Infernales.xcworkspace/xcuserdata/gwehner.xcuserdatad/WorkspaceSettings.xcsettings
Infernales.xcworkspace/xcuserdata/gwehner.xcuserdatad/xcdebugger/Expressions.xcexplist
Pods/